/* div {
    height: 500px;
    width: 100%;
    background-color: powderblue;
  } */
body{
  margin: 0;
  padding: 0;
}
.bord{
  box-sizing: border-box;
  border: 5px solid black;
  width: 100%;
  /* bottom: 0; */
  /* margin: 5px; */
  /* padding: 0px 15px; */
}
.container{
  margin: 0;
  /* background-color: rgb(199, 186, 169); */
  height: 100vh;
  width: 100%;
}
.ans{
  padding: 15px;
}
.addNew{
  box-sizing: border-box;
  padding: 15px;
  border: 5px solid white;
  border-radius: 100px;
  background-color: powderblue;
}
/* .sandbox{
  justify-content: center;
  display: flex;
} */
#ltx{
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: rgb(230,230,230);
  border: none;
}